.app {
    box-sizing: border-box;
}

.authorization {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.authorization__btn {
    width: 205px;
    border-radius: 5px;
}

.authorization__login {
    width: 200px;
    border-radius: 5px;
}

.authorization__password {
    width: 200px;
    border-radius: 5px;
}

.authorization__server {
    width: 200px;
    border-radius: 5px;
}



.phone {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    margin: 10px;
    align-items: center;
}

.listCallDiv {
    width: 100%;
}

.ButtonCallDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.callInput {
    width: 130px;
    margin: 5px;
}

.phone__btn_answer {
    width: 60px;
    height: 30px;
    margin: 5px;
    padding: 10px;
    background-color: green;
    background-image: url('../icons/phone.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid grey;
    border-radius: 10px;
}

.phone__btn_ended {
    width: 60px;
    height: 30px;
    margin: 5px;
    padding: 10px;
    background-color: red;
    background-image: url('../icons/phone.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid grey;
    border-radius: 10px;
}

.exit__btn {
    width: 60px;
    height: 30px;
    margin: 5px;
    padding: 10px;
    background-image: url('../icons/log-out.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid grey;
    border-radius: 10px;
}

.divCallItem {
    display: flex;
    justify-content: space-between;
}

.divCallItem:hover {
    background-color: #808080;
    color: #fff;
}